<nav class = "navbar navbar-expand-lg bg-info navbar-dark">
    <div class="container">
        <a href="/" class="navbar-brand">Course App</a>

        <ul class="navbar-nav me-auto"> <!---- me-auto kendini sağdan sola al demek-->
            <li class="nav-item">
                <a href="/courses" class="nav-link">Courses</a>
            </li>

            <li class="nav-item">
                <a href="/contact" class="nav-link">Contact</a>
            </li>

            <li class="nav-item">
                <a href="/about" class="nav-link">About</a>
            </li>

        </ul> 
    </div>
</nav>