{% extends "layout.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "/courses/css/style.css" %}">
{% endblock css_files %}

{% block title %}{{course.title}} Create Course {% endblock title %}

{% block content %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-12">
                {% if error %}
                    <div class="alert alert-danger">
                        Bilgileri Eksiksiz Girin!
                    </div>
                {% endif %}
                <form action="{% url "create_course" %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" type="text" name="title" value={{title}}>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" name="description" value={{desc}}></textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="imageUrl">Image URL</label>
                        <input class="form-control" type="text" name="imageUrl" value="{{img}}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="slug">Slug</label>
                        <input class="form-control" type="text" name="slug">
                    </div>

                    <div class="form-check mb-3">
                        <input type="checkbox" name="isActive" class="form-check-input">
                        <label for="isActive" class="form-check-label">Is Active</label>
                    </div>

                    <div class="form-check mb-3">
                        <input type="checkbox" name="isHome" class="form-check-input">
                        <label for="isHome" class="form-check-label">Is Home</label>
                    </div>

                    <button class="btn btn-info btn-sm" type="submit">Save</button>

                </form>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js_script %}
    <script src="{% static "/courses/js/script.js" %}"></script>
{% endblock js_script %}