{% extends "layout.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "/courses/css/style.css" %}">
{% endblock css_files %}

{% block title %} Upload Media {% endblock title %}

{% block content %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-12">
                <form action="{% url "upload_image" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="file" class="form-control" id="uploadImage" name="image" >
                        <button class="btn btn-outline-secondary" type="submit">Upload</button>
                      </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js_script %}
    <script src="{% static "/courses/js/script.js" %}"></script>
{% endblock js_script %}